<div class="container-games">
    {{#each games}}
    <div class="vertical-card-game">
        <div>
            <img src="{{this.smImg}}" alt="{{this.name}}">
        </div>
        <div>
            <a href="/games/{{this.id}}"><h4>{{this.name}}</h4></a>
            <p>By {{this.designer}}</p>
            <button>like</button>
        </div>
    </div>
    {{/each}}
</div>
    