<div class="container-games horizontal-scroll"> 
    {{#each games}}
    <div class="vertical-card-game card">
        <div class="game-img">
            <div class="game-img-bg" style="background-image: url('{{this.smImg}}')"></div>
            <img src="{{this.smImg}}" alt="{{this.name}}">
        </div>
        <div class="game-info">
            <div>
                <a href="/games/{{this.id}}"><h4>{{this.name}}</h4></a>
                <p>{{this.minPlayer}} ~ {{this.maxPlayer}} players</p>
            </div>
            <button class="like-game{{#ifin this.id  ../favoriteGames }} favorite{{/ifin}}" data-game-id="{{this.id}}">
                <svg version="1.1" class="heart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 437.775 437.774" style="enable-background:new 0 0 437.775 437.774;"
	 xml:space="preserve"><path d="M316.722,29.761c66.852,0,121.053,54.202,121.053,121.041c0,110.478-218.893,257.212-218.893,257.212S0,266.569,0,150.801
		C0,67.584,54.202,29.761,121.041,29.761c40.262,0,75.827,19.745,97.841,49.976C240.899,49.506,276.47,29.761,316.722,29.761z"/>
                </svg>
            </button>       
        </div>
    </div>
    {{/each}}
</div>
    