<div class="container-games"> 
    {{#each games}}
    <div class="vertical-card-game">
        <div>
            <img src="{{this.smImg}}" alt="{{this.name}}">
        </div>
        <div>
            <a href="/games/{{this.id}}"><h4>{{this.name}}</h4></a>
            <p>By {{this.designer}}</p>
            <button class="like-game{{#ifin this.id  ../favoriteGames }} favorite{{/ifin}}" data-game-id="{{this.id}}">like</button>
        </div>
    </div>
    {{/each}}
</div>
    