<div class="container-games">
    {{#each games}}
    <div class="horizontal-card-game">
        <div class="img-games">
            <img src="{{this.smImg}}" alt="{{this.name}}">
        </div>
        <div class="info-game">
            <button class="like-game{{#ifin this.id  ../favoriteGames }} favorite{{/ifin}}" data-game-id="{{this.id}}">like</button>
            <a href="/games/{{this.id}}">{{this.name}}</a>
            <p>{{this.shortDescription}}</p>
        </div>
    </div>
    {{/each}}
</div>