<div class="container-games-rows">
    {{#each games}}
    <div class="horizontal-card-game">
        <div class="horizontal-card-game__image">
            {{> coverBlurred image=this.smImg name=this.name}}
        </div>

        <div class="info-game">
            <div class="game__like-and-title">
                <button class="like-game{{#ifin this.id  ../favoriteGames }} favorite{{/ifin}}" data-game-id="{{this.id}}">
                    <svg version="1.1" class="heart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 437.775 437.774" style="enable-background:new 0 0 437.775 437.774;"
	 xml:space="preserve"><path d="M316.722,29.761c66.852,0,121.053,54.202,121.053,121.041c0,110.478-218.893,257.212-218.893,257.212S0,266.569,0,150.801
		C0,67.584,54.202,29.761,121.041,29.761c40.262,0,75.827,19.745,97.841,49.976C240.899,49.506,276.47,29.761,316.722,29.761z"/>
                    </svg>
                </button> 
                <a href="/games/{{this.id}}"><h3>{{this.name}}</h3></a>
            </div>           
            <p>{{{this.description}}}</p>
            <p class="game__designer">By  {{{this.designer.[0]}}}</p>
        </div>
    </div>
    {{/each}}
</div>