<div class="slider-plays horizontal-scroll">
    {{#each plays}}
    <div class="card-play card">
        <div class="img-games carousel">
            <div class="carousel-viewport">{{!--
                --}}{{#each this.gamesForPlay}}{{!--
                    --}}<div class="slide">{{!--
                        --}}<div class="slide-img" style="background-image: url('{{this.img}}')"></div>{{!--
                    --}}</div>{{!--
                --}}{{/each}}{{!--
            --}}</div>
        </div>
        <div class="info-play">
            <a href="/plays/{{this._id}}" class="play-time">
                {{localdate this.dateTime}}
            </a>
            <div class="names-games">
                {{#each this.gamesForPlay}}
                <a href="/games/{{this._id}}">
                    <h4>{{this.name}}</h4>
                </a>
                {{/each}}
            </div>
            <div class="players">
                <div class="avatars">
                    {{#each this.players}}
                    <img src="{{this.avatar}}" alt="{{this.username}}" class="avatar">
                    {{/each}}
                </div>
                <div>
                    <p>{{this.players.length}} / {{this.maxPlayer}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>