<div class="slider-plays horizontal-scroll">
    {{#each plays}}
    <div class="card-play card">
        <div class="img-games carousel">
            {{#each this.gamesForPlay}}
            <input type="checkbox" class="faux-ui-facia">
            <div class="slide">
                <img src="{{this.smImg}}" alt="{{this.name}}">
            </div>
            {{/each}}
        </div>
        <div class="info-play">
            <a href="/plays/{{this._id}}" class="play-time">
                {{localdate this.dateTime}}
            </a>
            <div class="names-games">
                {{#each this.gamesForPlay}}
                <a href="/games/{{this._id}}">
                    <h4>{{this.name}}</h4>
                </a>
                {{/each}}
            </div>
            <div class="players">
                <div class="avatars">
                    {{#each this.players}}
                    <img src="{{this.avatar}}" alt="{{this.username}}" class="avatar">
                    {{/each}}
                </div>
                <div>
                    <p>{{this.players.length}} / {{this.maxPlayer}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>