<div class="slider-plays horizontal-scroll">
    {{#each plays as |play playIndex| }}
    <div class="card card--play">
        <div class="img-games card__carousel">
            <a class="card-carousel" href="/plays/{{play._id}}">
                <div class="card-carousel__viewport">
                    {{#each play.gamesForPlay}}
                        <div class="card-carousel__slide">
                            <div class="card-carousel__slide-img" style="background-image: url('{{this.img}}')"></div>
                        </div>
                    {{/each}}
                </div>
            </a>
        </div>
        <div class="info-play">
            <a href="/plays/{{play._id}}" class="play-time">
                    <p>{{localdate play.dateTime}}<br>{{play.location.street}}, {{play.location.city}}</p>
            </a>
            <div class="names-games">
                {{#each play.gamesForPlay}}
                <a href="/games/{{this._id}}">
                    <h4>{{this.name}}</h4>
                </a>
                {{/each}}
            </div>
            <div class="players">
                <div class="avatars">
                    {{#each play.players}}
                    <img src="{{this.avatar}}" alt="{{this.username}}" class="avatar">
                    {{/each}}
                </div>
                <div>
                    <p>{{play.players.length}} / {{play.maxPlayer}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>