<section id="manifesto">
    <h2>Meet other players,<br>share gaming experiences</h2>
    <img src="/images/key-visual.svg" alt="manifesto">
</section>

<section class="search-bars">
    <form action="/games" method="GET">
        <input type="text" name="game" placeholder="enter a game name" class="input">
        <input type="submit" value="search games" class="btn-search">
    </form>
    <p>Or</p>
    <form action="/plays" method="GET">
        <select name="location" class="input">
            <option value="" id="select-placeholder">choose a location</option>
            <option value="Paris">Paris</option>
            <option value="Lyon">Lyon</option>
            <option value="Nice">Nice</option>
            <option value="Hyères">Hyères</option>
            <option value="Corse">Corse</option>
        </select>
        <input type="submit" value="search plays" class="btn-search">      
    </form>
</section>

<section id="index-plays">
    <h3>Game plays</h3>

    {{> playsPartial}}

    <a href="/plays">See all</a>
</section>

<section id="featured">
    <h3>Featured game</h3>

    <div id="card-featured-game">
        <div>
            <img src="{{latestFeaturedGame.img}}" alt="{{latestFeaturedGame.name}}">
        </div>
        <div>
            <a href="/games/{{latestFeaturedGame.id}}"><h4>{{latestFeaturedGame.name}}</h4></a>
            <p>{{{latestFeaturedGame.description}}}</p>
            <span>By {{latestFeaturedGame.designer}}</span>
        </div>
    </div>
</section>

<section>
    <h3>Discover games</h3>

    {{> bisGPartial favoriteGames=favoriteGames}}

    <a href="/games">See all</a>
</section>