<section id="manifesto">
    <div></div>
    <h2>Meet other players,<br>share gaming experiences</h2>
</section>

<section class="search-bars">
    <form action="/" method="POST">
        <label for="game"><img src="" alt="search-icon"></label>
        <input type="text" name="game" value="Find the game">
        <select name="location">
            <option value="">in...</option>
            <option value="Paris">Paris</option>
            <option value="Lyon">Lyon</option>
            <option value="Nice">Nice</option>
            <option value="Hyères">Hyères</option>
            <option value="Corse">Corse</option>
        </select>
        <input onclick="/plays" type="submit" name="btn" value="play">
        <input type="submit" name="btn" value="game">
    </form>
</section>

<section id="index-plays">
    <h3>Game plays</h3>

    {{> playsPartial}}

    <a href="/plays/">See all</a>
</section>

<section id="featured">
    <h3>Featured game</h3>

    <div id="card-featured-game">
        <div>
            <img src="{{latestFeaturedGame.img}}" alt="{{latestFeaturedGame.name}}">
        </div>
        <div>
            <h4>{{latestFeaturedGame.name}}</h4>
            <p>{{latestFeaturedGame.description}}</p>
            <span>By {{latestFeaturedGame.designer}}</span>
        </div>
    </div>

    <a href="/games/editors-pick">See all</a>
</section>

<section>
    <h3>Discover games</h3>

    {{#each games}}
    <div class="card-game">
        <div>
            <img src="{{this.smImg}}" alt="{{this.name}}">
        </div>
        <div>
            <h4>{{this.name}}</h4>
            <p>By {{this.designer}}</p>
            <button>like</button>
        </div>
    </div>
    {{/each}}

    <a href="/games">See all</a>
</section>