<section id="manifesto">
    <div></div>
    <h2>Meet other players,<br>share gaming experiences</h2>
</section>

<section id="search-bars">
    <form action="/index" method="POST">
        <label for="game-name"><img src="" alt="search-icon"></label>
        <input type="text" name="game-name" value="Find the game">
        <select name="location" id="location">
            <option value="">in...</option>
            <option value="Paris">Paris</option>
            <option value="Lyon">Lyon</option>
            <option value="Nice">Nice</option>
            <option value="Hyères">Hyères</option>
            <option value="Corse">Corse</option>
        </select>
        <button type="submit" id="btn-plays">game plays</button>
        <button type="submit">specs</button>
    </form>
</section>

<section id="index-plays">
    <h3>Game plays</h3>

    <div id="slider-plays">
        {{#each plays}}
        <div class="card-play">
            <div id="img-games">
                {{#each this.gamesForPlay}}
                <img src="{{this.smImg}}" alt="{{this.name}}">
                {{/each}}
            </div>
            <div id="info-play">
                <p>{{this.dateTime}}</p>
                <div id="names-games">
                    {{#each this.gamesForPlay}}
                    <a href="/games/{{this._id}}">{{this.name}}</a>
                    {{/each}}
                </div>
                <div id="players">
                    <div id="avatars">
                        {{#each this.players}}
                        <img src="{{this.avatar}}" alt="{{this.username}}">
                        {{/each}}
                    </div>
                    <div>
                        <p>{{this.players.length}} / {{this.maxPlayer}}</p>
                    </div>
                </div>
                <div id="btn-save">
                    <button>save</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <a href="/plays/">See all</a>
</section>

<section id="featured">
    <h3>Featured game</h3>

    <div id="card-featured-game">
        <div>
            <img src="{{latestFeaturedGame.img}}" alt="{{latestFeaturedGame.name}}">
        </div>
        <div>
            <h4>{{latestFeaturedGame.name}}</h4>
            <p>{{latestFeaturedGame.description}}</p>
            <span>By {{latestFeaturedGame.designer}}</span>
        </div>
    </div>

    <a href="/games/editors-pick">See all</a>
</section>

<section>
    <h3>Discover games</h3>

    {{#each games}}
    <div class="card-game">
        <div>
            <img src="{{this.smImg}}" alt="{{this.name}}">
        </div>
        <div>
            <h4>{{this.name}}</h4>
            <p>By {{this.designer}}</p>
            <button>like</button>
        </div>
    </div>
    {{/each}}

    <a href="/games">See all</a>
</section>