<div id="manifesto-and-search">
    <section id="manifesto">
        <h2>Meet other players,<br>share gaming experiences</h2>
        <div></div>   
    </section>

    <section class="search-bars">
        <form action="/games" method="GET">
            <input type="text" name="game" placeholder="enter a game name" class="input">
            <input type="submit" value="search games" class="btn-search">
        </form>
        <p>Or</p>
        <form action="/plays" method="GET">
            <select name="location" class="input">
                <option value="" id="select-placeholder">choose a location</option>
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>
                <option value="Nice">Nice</option>
                <option value="Hyères">Hyères</option>
                <option value="Corse">Corse</option>
            </select>
            <input type="submit" value="search plays" class="btn-search">      
        </form>
    </section>
</div>

<section class="index-plays">
    <h3>Discover and join upcoming game plays</h3>

    {{> playsPartial}}

    <a href="/plays" class="link-see-all">See all</a>
</section>

<section class="featured-games">
    <h3>Featured game</h3>

    <div class="card-featured-game">
        <div class="featured-img">
            <img src="{{latestFeaturedGame.img}}" alt="{{latestFeaturedGame.name}}">
        </div>
        <div class="featured-game-info">
            <a href="/games/{{latestFeaturedGame.id}}"><h4>{{latestFeaturedGame.name}}</h4></a>
            <p>{{{latestFeaturedGame.description}}}</p>
            <p class="designer">By {{latestFeaturedGame.designer}}</p>
            <blockquote class="editor-note">{{latestFeaturedGame.editorNote}}</blockquote>
        </div>
    </div>
</section>

<section class="index-games">
    <h3>Discover games</h3>

    {{> bisGPartial favoriteGames=favoriteGames}}

    <a href="/games" class="link-see-all">See all</a>
</section>