<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <div>
        <a href="/"><h1>{{title}}</h1></a>
    </div>
    <div id="navbar">
        <div id="redirections">
            <a href="/games">Games</a>
            <a href="/plays">Plays</a>
        </div>
        <div id="auth">
            {{#if isLoggedIn}}
              <a href="/userProfile">Profile</a>
            {{else}}
              <a href="/login">Login</a>
              <a href="/register">Register</a>
            {{/if}}
        </div>
    </div>
  </nav>

  {{{body}}}

  <footer>
    <div>
      <p>We love board games and the enriched off-line gaming experiences between human players👾</p>
    </div>
    <div>
      <div id="social-media-logos">
        <img src="/images/instagram.svg" alt="instagram">
        <img src="/images/twitter.svg" alt="twitter">
        <img src="/images/discord.svg" alt="discord">
        <img src="/images/twitch.svg" alt="twitch">
      </div>
      <div>
        <p>Board Game Café &#169; 2021</p>
      </div>
    </div>
  </footer>

  <script src="/javascripts/script.js"></script>
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}

</body>
</html>