<section>
    <h4>Welcome back, {{user.username}}</h4>
    <a href="/logout">logout</a>
    <button>modify profile</button>
</section>

<section class="user-account-info">
    <img src="{{user.avatar}}">
    <p><strong>Bio:</strong><br>{{user.bio}}</p>
</section>

<section class="user-account-modification hidden">
    <form action="/userProfile" method="POST" enctype="multipart/form-data">
        <label for="image">
            Avatar:
            <input type="file" name="image" id="image-input" class="form-control-file" />
            <input type="text" name="existingImage" hidden id="" value="{{user.avatar}}">
        </label>

        <label for="username">
            Username
            <input id="username" type="text" name="username">
        </label>

        <label for="email">
            Email
            <input id="email" type="text" name="email">
        </label>

        <label for="password">
            Password
            <input id="password" type="password" name="password">
        </label>
            
        <label for="location">
            Location
            <select name="location">
                <option value="">choose a location</option>
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>
                <option value="Nice">Nice</option>
                <option value="Hyères">Hyères</option>
                <option value="Corse">Corse</option>
            </select>
        </label>

        <label for="bio">
            Bio
            <textarea name="bio" cols="30" rows="50"></textarea>
        </label>

        {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
        {{/if}}

    </form>
</section>

<section>
    <h3>Plays organized by you</h3>
    {{> playsPartial plays=playsOrganized}}
</section>

<section>
    <h3>Plays you are participating</h3>
    {{> playsPartial plays=playsParticipate}}
</section>

<section>
    <h3>Games you created</h3>
    {{> bisGPartial games=gamesCreated}}
</section>

<section>
    <h3>Your favorite games</h3>
    {{> bisGPartial games=favGamesPopulated}}
</section>


