<div class="content-my-profile">
    <div class="container--form__profile">
        <form class="form--profile" action="/userProfile" method="POST" enctype="multipart/form-data">
            <h3>Welcome back, {{userName}}</h3> 

            <label class="profile-form__image-upload" for="image">
                <p>Avatar</p>               
                <input type="file" name="image" id="image-input" class="form-control-file" />
                <input type="text" name="existingImage" hidden id="" value="{{userImg}}">
                <img src="{{userImg}}" alt="your current avatar">
            </label>

            <label for="username">
                <p>Username</p> 
                <input id="username" type="text" name="username" value="{{userName}}">
            </label>

            <label for="email">
                <p>Email</p>  
                <input id="email" type="text" name="email" value="{{email}}">
            </label>

            <label for="password">
                <p>Password</p> 
                <input id="password" type="password" name="password" placeholder="******">
            </label>
                
            <label for="location">
                <p>Location</p> 
                <select name="location">
                    <option value="{{location}}">{{location}}</option>
                    <option value="Paris">Paris</option>
                    <option value="Lyon">Lyon</option>
                    <option value="Nice">Nice</option>
                    <option value="Hyères">Hyères</option>
                    <option value="Corse">Corse</option>
                </select>
            </label>

            <label for="bio">
                <p>Bio</p> 
                <textarea name="bio" cols="30" rows="10">{{bio}}</textarea>
            </label>

            <button class="btn-submit">Submit profile changes</button>
        </form>

        {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
        {{/if}}
    </div>

    <section>
        <h3>Plays organized by you</h3>
        {{> playsPartial plays=playsOrganized}}
        <a href="/userProfile/organizedPlays" class="link-see-all">See all</a>
    </section>

    <section>
        <h3>Plays you are participating</h3>
        {{> playsPartial plays=playsParticipate}}
        <a href="/userProfile/participatePlays" class="link-see-all">See all</a>
    </section>

    <section>
        <h3>Games you created</h3>
        {{> bisGPartial games=gamesCreated}}
        <a href="/userProfile/createdGames" class="link-see-all">See all</a>
    </section>

    <section>
        <h3>Your favorite games</h3>
        {{> bisGPartial games=favGamesPopulated}}
        <a href="/userProfile/favoriteGames" class="link-see-all">See all</a>
    </section>
</div>

