{{#if isCreator}}
<section class="container--form__game">
    <form class="form--game" action="/games/{{game.id}}/edit" method="POST" enctype="multipart/form-data">
        <label class="game-form__image-upload" for="image">
            <p>Image</p>           
            <input type="file" name="image" id="image-input" class="form-control-file" />
            <input type="text" name="existingImage" hidden id="" value="{{game.img}}">
            <img src="{{game.img}}" alt="current image of the game">
        </label>

        <label for="name">
            <p>Name</p>  Name
            <input type="text" name="name" value="{{game.name}}">
        </label>

        <label for="minPlayer">
            <p>Minimum player</p>  
            <input type="number" name="minPlayer" value="{{game.minPlayer}}">
        </label>

        <label for="maxPlayer">
            <p>Maximum player</p> 
            <input type="number" name="maxPlayer" value="{{game.maxPlayer}}">
        </label>

        <label for="gamePlayTime">
            <p>Game play time in minutes</p>
            <input type="number" name="gamePlayTime" value="{{game.gamePlayTime}}">
        </label>

        <label for="description">
            <p>Description</p> 
            <textarea name="description" cols="50" rows="20">{{game.description}}</textarea>
        </label>

        <label for="shortDescription">
            <p> Short description</p>
            <textarea name="shortDescription" cols="50" rows="20" minlength="10" maxlength="250">{{game.shortDescription}}</textarea>
        </label>

        <label for="yearOfPublish">
            <p>Published in year</p> 
            <input type="text" name="yearOfPublish" value="{{game.yearOfPublish}}">
        </label>

        <label for="designer">
            <p>Designer</p>  
            <input type="text" name="designer" value="{{game.designer}}">
        </label>

        <label for="artist">
            <p>Artist</p>
            <input type="text" name="artist" value="{{game.artist}}">
        </label>

        <label for="publisher">
            <p>Publisher</p>
            <input type="text" name="publisher" value="{{game.publisher}}">
        </label>

        <label for="category">
            <p>Category</p>  
            <input type="text" name="category" value="{{game.category}}">
        </label>

        <label for="mechanic">
            <p>Mechanic</p> 
            <input type="text" name="mechanic" value="{{game.mechanic}}">
        </label>

        <button class="btn-submit">Update</button>
    </form>
</section>
{{else}}
<div class="error-message">
    <p>Sorry, only the creator of the game can modify/delete</p>
</div>
{{/if}}