<section class="search-bars">
    <div>
        <form action="/games" method="GET">
            <label for="game">
                Name of game
                <input type="text" name="game" value="{{game}}">
            </label>
            <label for="category">
                Category
                <select name="category">
                    <option value={{category}}>{{category}}</option>
                    <option value=""></option>
                    {{#each categories}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </label>
            <label for="mechanic">
                Mechanic
                <select name="mechanic">
                    <option value={{mechanic}}>{{mechanic}}</option>
                    <option value=""></option>
                    {{#each mechanics}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>   
            </label>
            <input type="number" name="minPlayer" placeholder="min player"> 
            <input type="number" name="maxPlayer" placeholder="max player">      
            <input type="submit" value="search">
        </form>
    </div>
</section>

<section>
    <div>
        <a href="/games/new">Create your own game</a>
    </div>
</section>

<section id="games-games">

    {{> gamesPartial}}

</section>

{{#if needPagination}}
<div class="pagination">
    <a href="/games">&laquo;</a>
    {{#each pages}}
    <a href="/games?page={{this}}">{{this}}</a>
    {{/each}}
    <a href="/games?page={{pages.length}}">&raquo;</a>
</div>
{{/if}}