<section>
    <div>
        <img src={{game.img}}>
    </div>

    {{#if isCreator}}
    <div>
        <a href="/games/{{game.id}}/edit">edit</a>
        <form action="/games/{{game.id}}/delete" method="POST">
            <button type="submit">delete</button>
        </form>
    </div>
    {{else}}
    <div>
        <button>like</button>
    </div>
    {{/if}}

    <div>
        <p>
            <strong>Name:</strong> {{game.name}}
        </p>
        <p>
            <strong>Minimum player:</strong> {{game.minPlayer}}
        </p>
        <p>
            <strong>Maximum player:</strong> {{game.maxPlayer}}
        </p>
        <p>
            <strong>Game play time(minutes):</strong> {{game.gamePlayTime}}
        </p>
        <p>
            <strong>Rating at BG Salon:</strong> {{game.rate}}
        </p>
        <strong>Description:</strong>
        <p>{{{game.description}}}</p>
        <p>
            <strong>Published in:</strong> {{game.yearOfPublish}}
        </p>
        <p>
            <strong>Designer:</strong> {{game.designer}}
        </p>
        <p>
            <strong>Publisher:</strong> {{game.publisher}}
        </p>
        <p>
            <strong>Category:</strong> {{game.category}}
        </p>
        <p>
            <strong>Mechanic:</strong> {{game.mechanic}}
        </p>
    </div>
</section>

{{#if game.isEditorPick}}
<section>
    <div>
        <h3>
            Editor's pick:
        </h3>
        <p>
            {{game.editorNote}}
        </p>
    </div>
</section>
{{/if}}

<section>
    <h3>
        Plays with this game
    </h3>
    <div>
        {{> playsPartial}}
    </div>
</section>

<section>
    <h3>
        Comments:
    </h3>

    {{#if isLoggedIn}}
    <div class="new-comment">
        <form action="/games/{{game._id}}" method="POST">
            <input type="submit" value="Add comment">
        </form>
    </div>
    {{/if}}

    <div class="container-comments">
        {{#each comments}}
        <div class="card-comment">
            <div>
                <img src="{{this.author.avatar}}">
                <h5>{{this.author.username}}</h5>
            </div>
            <div>
                <p>
                    {{this.content}}
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</section>