<section class="container--form">
    {{#if isOrganizer}}
    <form action="/plays/{{play.id}}/edit" method="POST">
        <label for="datetime">
            Date and Time
            <input type="datetime-local" name="dateTime" value="{{isodate play.dateTime}}">
        </label>

        <label class="location">
            <p>Location</p>  
            <input type="text" name="nameOfCommerce" value="{{play.location.nameOfCommerce}}">
            <input type="text" name="street" value="{{play.location.street}}">
            <input type="text" name="postCode" value="{{play.location.postCode}}">
            <select name="city">
                <option value="{{play.location.city}}">{{play.location.city}}</option>
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>
                <option value="Nice">Nice</option>
                <option value="Hyères">Hyères</option>
                <option value="Corse">Corse</option>
            </select>
            <textarea name="moreInstruction" cols="30" rows="5">{{play.location.moreInstruction}}</textarea>
        </label>
       
        <label for="gamesForPlay" class="label-games-play">
            Games
            <input type="search" class="search-bar-games">
            {{#each play.gamesForPlay}}
                <input type="hidden" name="gamesForPlay" value="{{this.id}}">
            {{/each}}

            <div class="container--select-games">
                <ul class="games-selected">
                    {{#each play.gamesForPlay}}
                    <li data-game-id="{{this.id}}">
                        {{this.name}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </label>

        <label for="minPlayer" class="label-minplayer">
            Minimum Player
            <input type="number" name="minPlayer" value="{{play.minPlayer}}">
        </label>

        <label for="maxPlayer">
            Maximum Player
            <input type="number" name="maxPlayer" value="{{play.maxPlayer}}">
        </label>

        <button class="btn-submit">Update</button>
    </form>

    {{else}}
    <div class="error-message">
        <p>Sorry, only the organizer of the play can modify/delete</p>
    </div>
    {{/if}}
</section>
