<section class="search-bars">
    <div>
        <form action="/plays" method="GET">
            <select name="location">
                {{#if location}}
                <option value={{location}}>{{location}}</option>
                {{#each nonSelectedLocations}}
                <option value={{this}}>{{this}}</option>
                {{/each}}

                {{else}}
                <option value="">in...</option>
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>
                <option value="Nice">Nice</option>
                <option value="Hyères">Hyères</option>
                <option value="Corse">Corse</option>
                {{/if}}
            </select>

            <label for="date-from">
                from
                <input type="date" name="dateFrom">
            </label>
            <label for="date-to">
                to
                <input type="date" name="dateTo">
            </label>
            
            <input type="submit" name="search-plays">
        </form>
    </div>
</section>

<section id="plays-plays">
    {{> playsPartial}}

    <a href="">See more</a>
</section>

<section id="create-new-play">
    <a href="/plays/new">Initiate a new game play</a>
</section>