<section class="search-bars">
    <div>
        <form action="/plays" method="GET">
            <select name="location">
                {{#if location}}
                <option value={{location}}>{{location}}</option>
                {{#each nonSelectedLocations}}
                <option value={{this}}>{{this}}</option>
                {{/each}}

                {{else}}
                <option value="">in...</option>
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>
                <option value="Nice">Nice</option>
                <option value="Hyères">Hyères</option>
                <option value="Corse">Corse</option>
                {{/if}}
            </select>

            <label for="date-from">
                from
                {{#if dateFrom}}
                <input type="datetime-local" name="dateFrom" value="{{isodate dateFrom}}">
                {{else}}
                <input type="datetime-local" name="dateFrom">
                {{/if}}
            </label>
            <label for="date-to">
                to
                {{#if dateTo}}
                <input type="datetime-local" name="dateTo" value="{{isodate dateTo}}">
                {{else}}
                <input type="datetime-local" name="dateTo">
                {{/if}}
            </label>
            
            <input type="submit" name="search-plays">
        </form>
    </div>
</section>

<section id="plays-plays">
    {{#if plays}}
    {{> playsPartial}}
    {{else}}
    <p>Oops, there is no game play matching your search</p>
    {{/if}}
</section>

<section id="create-new-play">
    <a href="/plays/new">Initiate a new game play</a>
</section>

{{#if needPagination}}
<div class="pagination">
    <a href="/plays">&laquo;</a>
    {{#each pages}}
    <a href="/plays?page={{this}}">{{this}}</a>
    {{/each}}
    <a href="/plays?page={{totalPages}}">&raquo;</a>
</div>
{{/if}}