<div class="search-and-new-play">
    <section class="search-bars-plays">
        <form action="/plays" method="GET">
            <label for="location" class="location">
                Location
                <select name="location">
                {{#if location}}
                <option value={{location}}>{{location}}</option>
                {{#each nonSelectedLocations}}
                <option value={{this}}>{{this}}</option>
                {{/each}}

                {{else}}
                <option value="">in...</option>
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>
                <option value="Nice">Nice</option>
                <option value="Hyères">Hyères</option>
                <option value="Corse">Corse</option>
                {{/if}}
                </select>
            </label>

            <label for="date-from" class="date-from">
                Date From
                {{#if dateFrom}}
                <input type="datetime-local" name="dateFrom" value="{{isodate dateFrom}}">
                {{else}}
                <input type="datetime-local" name="dateFrom">
                {{/if}}
            </label>
            <label for="date-to" class="date-to">
                To
                {{#if dateTo}}
                <input type="datetime-local" name="dateTo" value="{{isodate dateTo}}">
                {{else}}
                <input type="datetime-local" name="dateTo">
                {{/if}}
            </label>

            <button class="btn-submit">Search</button>
        </form>
    </section>

    <section class="btn-create-new">
        <a href="/plays/new">Organize a new game play</a>
    </section>
</div>

{{#if plays}}
<section class="plays-plays">
    {{> playsPartial}}
</section>
{{else}}
<section>
    <p>Oops, there is no game play matching your search</p>
</section>
{{/if}}


{{#if needPagination}}
<div class="pagination">
    <a href="/plays">&laquo;</a>
    {{#each pages}}
    <a href="/plays?page={{this}}">{{this}}</a>
    {{/each}}
    <a href="/plays?page={{totalPages}}">&raquo;</a>
</div>
{{/if}}