<section>
    <div id="play-basic-info">
        <div>
            {{#if play.dateTime}}
            <h3>{{localdate play.dateTime}}</h3>
            {{else}}
            <h3>{{localdate play.dateTime}}</h3>
            {{/if}}
            <div>
                <img src="{{play.organizer.avatar}}">
                <p>Initiated by:<br>{{play.organizer.username}}</p>
            </div>
        </div>
        {{#if isOrganizer}}
        <div>
            <a href="/plays/{{play.id}}/edit">edit</a>
            <form action="/plays/{{play.id}}/delete" method="POST">
                <button type="submit">delete</button>
            </form>
        </div>
        {{else}}
        <div>
            <button class="join-play{{#ifin play.id  joinedPlays }} joined{{/ifin}}" data-play-id="{{play.id}}">join</button>
        </div>
        {{/if}}

    </div>
</section>

<section>
    <div>
        <h3>Location of this game play</h3>
        <h4>
            {{play.location.nameOfCommerce}}
        </h4>
        <h4>
            {{play.location.street}}<br>{{play.location.city}}, {{play.location.postCode}}, {{play.location.country}}
        </h4>
        <div id="map">
            placeholder for googleMap
        </div>
    </div>
</section>

<section>
    <h3>Games to play</h3>
    {{> bisGPartial games=play.gamesForPlay}}
</section>

<section>
    <h3>Plays</h3>
    <div>
        <p>min: {{play.minPlayer}}</p>
        <p>max: {{play.maxPlayer}}</p>
    </div>
    <div>
        <h4>participants:</h4>
        <div class="list-players">
            {{#each play.players}}
                <div class="card-player" data-player-id="{{this._id}}">
                    <img src="{{this.avatar}}">
                    <a href="/users/{{this._id}}"><h5>{{this.username}}</h5></a>
                </div>
            {{/each}}
        </div>
    </div>
</section>